.navbar {
    background-color: #001f3f; /* Color de fondo de la navbar */
  }
  
  .background-container {
    background-image: url('/assets/nautical-background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    position: relative;
  }
  
  .content {
    background: rgba(0, 0, 0, 0.5); /* Fondo negro con transparencia */
    padding: 20px;
    border-radius: 10px;
  }
  
  h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
  }
  
  p {
    font-size: 1.5em;
    margin: 0;
  }
  