.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  mat-form-field {
    width: 300px;
  }
  
  h2 {
    margin-top: 20px;
  }
  
  mat-radio-group {
    display: flex;
    flex-direction: column;
  }
  
  button {
    margin-top: 20px;
  }
  
  .confirmation-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  